001.Source.Rails/*.rbc
001.Source.Rails/capybara-*.html
001.Source.Rails/.rspec
001.Source.Rails/log
001.Source.Rails/tmp
001.Source.Rails/db/*.sqlite3
001.Source.Rails/public/system
001.Source.Rails/coverage/
001.Source.Rails/spec/tmp
001.Source.Rails/**.orig
001.Source.Rails/rerun.txt
001.Source.Rails/pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
#001.Source.Rails/config/initializers/secret_token.rb
#001.Source.Rails/config/secrets.yml

## Environment normalisation:
001.Source.Rails/.bundle
001.Source.Rails/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
001.Source.Rails/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
001.Source.Rails/vendor/assets/bower_components
001.Source.Rails/*.bowerrc
001.Source.Rails/bower.json
